body {
  background-color: rgba(218, 223, 225, 1);
}


/* CSS for the maps. */

#gunSalesPerCapitaMap {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#estimatedGunSalesMap {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#gunsManufacturedMap {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Tooltip settings. */

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}

/* CSS for legend. */

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
