body {
  background-color: rgba(218, 223, 225, 1);
  font-family: Helvetica, sans-serif;
}

/* Settings for two column layout. */

.row {
    display: flex;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Font styling. */

p {
  text-align: left;
  margin-left: 5%;
  padding: 1%;
}

h1 {
  text-align: left;
  margin-left: 6%;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 3%;
}

h4 {
  text-align: right;
  margin-right: 2%;
}

a {
  color: #FF8C00;
  text-decoration: none;
  font-weight: bold;
}


/* Map styling. */

.wideChart {
  margin-right: 10%;
  margin-left: 10%;
}

/* Tooltip settings. */

.d3-tip {
  line-height: 0.9;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}

/* BubbleMap legend settings. */

.bubbleMapLegend circle {
  fill: none;
  stroke: #ccc;
}

.bubbleMapLegend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

/* Image styling. */

img {
  padding-top: 10%
}
